
      

       <!--BANNER-->
       <%- include('../sections/banner-section') %>
        <!--BANNER-->
        <div class="container-lg px-lg-5">
        <!--ABOUT-->
        <%- include('../sections/about_me-section') %>
        <!--ABOUT-->

        <!--EXPERINCES-->
        <%- include('../sections/experiences-section') %>
        <!--EXPERINCES-->

        <!--SKILLS-->
        <%- include('../sections/softkills-section') %>
        <%- include('../sections/hardkills-section') %>
        <!--SKILLS-->

        <!--PROJECTS-->
        <%- include('../sections/projects-section') %>
        <!--PROJECTS-->
        
        <!--TRAINING-->
        <%- include('../sections/training-section') %>
        <!--TRAINING-->

        <!--COURSES-->
        <%- include('../sections/courses-section') %>
        <!--COURSES-->

        <!--TESTMONIALS-->
        <!--TESTMONIALS-->

        <!--CONTACTS-->
        <%- include('../sections/contact-section') %>
        <!--CONTACTS-->
      </div><!--container--> 

